body {
	background-color: #F6F5ED;

}

#me {
	width:200px;
	margin:0 auto;
}

#me img {
	width: 200px;
	border-radius: 100px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	margin-top: 0px;
	margin-bottom: 10px;
}

h1 {
	font-size: 6vw;
	text-align: center;
}

h2 {
	font-size:28px;
	border-bottom: 1px dotted;
}

h3 {
	font-size:18px;
}


#container {
	margin:0 auto;
	max-width:900px;
}

#projects {

}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
	h1 {
		font-size: 108px;
		text-align: center;
	}

	h2 {
		font-size:68px;
		border-bottom: 4px dotted;
	}

	h3 {
		font-size:48px;
	}
}