@charset "UTF-8";

body {
	background-color: #FFF;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

.container {
	max-width: 700px;
}

#me {
	width:200px;
	margin:0 auto;
}

#me .me-img {
	width: 200px;
	border: 2px solid lightgrey;
	border-radius:4px;
	overflow: hidden;
	margin-top:50px;
}

#about {
	width:400px;
	margin: 0 auto;
}

#contact {
	width: 300px;
	margin:0 auto;
	text-align: center;
}

.contact-icon {
	width: 30px;
}

.contact-icon:hover {
	opacity: 0.6;
}

#work {
	margin:0 auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#work .work-item {
	width: 46%;
	margin: 1% 1% 0 0;
}

.work-img {
	 width:100%;
	 border: 2px solid lightgrey;
	 border-radius:4px;
}


/* #### Tablets #### */
@media only screen and (max-width: 1025px) {

	body {
		font-size:18px;
	}

	#me {
		width:200px;
		margin:0 auto;
	}

	#me img {
		width: 100%;
	}

	#work .work-item {
		width: 48%;
		margin: 1% 1% 0 0;
	}

}


/* #### Mobile Phones Portrait #### */
@media only screen and (max-width: 767px) {

	body {
		font-size:18px;
	}

	#me {
		width:200px;
		margin:0 auto;
	}

	#me img {
		width: 100%;
	}

	#work .work-item {
		width: 96%;
		margin: 1%
	}

}
